<!DOCTYPE html>
    <%- include('../partials/head')  %>  <!--include head-->

    <body class="container">
        <%- include('../partials/header', {pagina: 'sobre'}) %>
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Olá, me chamo Jhonatan Freitas e sou estudando de programação.</p>
            </div>
        </main>
        <%- include('../partials/footer') %>  <!--include footer-->

    </body>

</html>